body {
	overflow: hidden;
}

ul li {
	display: inline-block;
	margin: 10px;
	font-size: 30px;
}



.slide-fade-enter, .slide-fade-leave-to {
	transform: scale(0);
	opacity: 0;
}

.slide-fade-enter-active, .slide-fade-leave-active {
	transition: .5s ease;
}

.slide-fade-leave-active {
	transition: .3s ease-out;
}



.mynav {
	background-color: #ff8c00;
	height: 100px;
	width: 100%;
	text-align: center;
	padding-top: 2%;
}

.mynav li {
	background-color: white;
}

footer {
	height: 100px;
	background-color: #ff8c00;
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: #fff;
	padding-top: 2%;
}


section {
	text-align: center;
	padding: 3%;
}













